{% extends 'base.html' %}

{% block nombre_seccion %}Articulo{% endblock %}

{% block contenido %}
<style>
    .bot{
      border: 0;
      background: none;
      color:white;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid rgb(52, 147, 224);
      padding: 14px 40px;
      width: 300px;
      outline: none;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    .bot:hover{
        background:rgb(52, 147, 224);
    }
</style>
<div>
    <h3>{{article.title}}</h3>
    <p>{{article.description}}</p>
    <p>{{article.date_created}}</p>
    <img src="{{article.image_one.url}}" alt="">
</div>

{% endblock %}