
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <style>
    .wrapper{
      border-radius: 20px;
      background: #384aeb;
      transition: all 0.3s ease;
      margin-bottom: 30px;
      margin-inline: 10px;
    }
    .wrapper img{
      height: 150px; 
      width: 200px;
      border-radius: 10px;
    }
    .wrapper:hover{
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
    .wrapper .content h3{
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: white;
    }
    .wrapper .content p{
      font-family: 'Oswald', sans-serif;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      color: white;
    }
    .wrapper .content .p1{
      margin-top: 20px;
    }
  </style> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block nombre_seccion %}{% endblock %}</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{% url 'homepage' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Home</a></li>
			        <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}">Categorias</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Busquedas</a></li>
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'mis_articulos' %}">Mis artículos</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" href="{% url 'mis_canjes' %}">Mis canjes</a></li>
              <!--li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                  <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                </ul>
							</li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                </ul>
							</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
                  <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li-->
            </ul>

            <ul class="nav-shop">
              <!--li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li-->
                {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrate</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="#profile">{{user}}</a></li>
                {% endif %}
                <a id="notifications_count" href="{% url 'mis_notifications' %}""><i class="fa fa-bell" aria-hidden="true"></i></a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

  {% block contenido %}
  {% endblock %}

  <!--================ Start footer Area  =================-->	
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="{% url 'homepage' %}">Home</a></li>
								<li><a href="{% url 'categories' %}">Productos</a></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contactanos</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Oficina Central
								</p>
								<p>123, Main Street, Your City</p>
	
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Numero Telefonico
								</p>
								<p> +123 456 7890 </p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->

	<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendors/skrollr.min.js' %}"></script>
	<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'vendors/mail-script.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% block jquery %}{% endblock %}
</body>
</html>