

{% extends 'base.html' %}

{% load static %}

{% block nombre_seccion %}Canje{{id}}{% endblock %}

{% block jquery %}
	<script src="{% static 'js/selections.js' %}"></script>
{% endblock %}

{% block contenido %}

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="section-intro pb-60px">
				<h2><span class="section-intro__style"></span>Canje</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<p>Artículos de {{user_creator}}</p>
					<div class="card" style="width: 18rem;">
						<div class="list-group">
							{% for article in art_creator %}
								<a class="list-group-item list-group-item-action" href="{{article.link}}" id="{{article.id}}" value="false">{{article.title}}</a>
							{% endfor %}
						</div>
					</div>					
				</div>
				<div class="col-lg-6">
					<p>Artículos de {{user_assignee}}</p>
					<div class="card" style="width: 18rem;">
						<div class="list-group">
							{% for article in art_assignee %}
								<a class="list-group-item list-group-item-action" href="{{article.link}}" id="{{article.id}}" value="false">{{article.title}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
				{% if user == user_assignee %}
					<form class="row canjear" action="{{id}}" method="POST" id="accept_or_reject">
						{% csrf_token %}
						<div class="col-md-6 text-right">
							<button type="submit" value="submit" id="acept_button" name="acept_button" class="button primary-btn">Aceptar</button>
						</div>
						<div class="col-md-6 text-right">
							<button type="submit" value="submit" id="reject_button" name="reject_button" class="button deny-btn">Rechazar</button>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	{% endblock %}