
{% extends 'base.html' %}

{% load static %}

{% block nombre_seccion %}Carga un artículo{% endblock %}

{% block jquery %}
	<script src="{% static 'js/categories.js' %}"></script>
{% endblock %}

{% block contenido %}
  
  <!--================Login Box Area =================-->
	<!--section class="login_box_area section-margin"-->
		<!--div class="container"-->		
			<div class="login_form_inner">
				<h3>Crea un artículo</h3>
				<form class="row login_form" action="." method= "POST" id="contactForm" enctype="multipart/form-data" >
					
					{% csrf_token %}

					<div class="col-md-12 form-group">
						<input type="text" class="form-control" name="title" autofocus autocapitalize="none" autocomplete="title" maxlength="150" placeholder="Tïtulo" required id="id_title">
					</div>

					
					<div class="col-md-12 form-group">
						<select class="form-select pt-2 pb-2 text-center" name="seleccion1" style="width: 100%; background-color: #007bff; color: white; font-weight: 600;"  id="dropdownMenuLink1" aria-label="Default select example" onchange="if(this.selectedIndex){fill_sub_category(this.selectedIndex)}">
						</select>
					</div>

					<div class="col-md-12 form-group">
						<select class="form-select pt-2 pb-2 text-center" name="category" style="width: 100%; background-color: #007bff; color: white; font-weight: 600;" id="dropdownMenuLink2" aria-label="Default select example">
						</select>
					</div>

					<div class="col-md-12 form-group">
						<textarea name="description" cols="40" rows="10" required="" class="form-control" placeholder="Descripcion" required id="id_description"></textarea>
					</div>					

					<div class="col-md-12 form-group">
						<label for="id_image_one">Imagen principal:</label>
						<input type="file" name="image_one" accept="image/*" id="id_image_one">
					</div>
					<div class="col-md-12 form-group">
						<label for="id_image_two">Imagenes secundarias:</label>
						<input type="file" name="image_two" accept="image/*" id="id_image_two">
					</div>
					<div class="col-md-12 form-group">
						<input type="file" name="image_three" accept="image/*" id="id_image_three">
					</div>
					<div class="col-md-12 form-group">
						<input type="file" name="image_four" accept="image/*" id="id_image_four">
					</div>
					<div class="col-md-12 form-group">
						<input type="file" name="image_five" accept="image/*" id="id_image_five">
					</div>					
					
					
					<div class="col-md-12 form-group">
						<button type="submit" value="submit" class="button button-login w-100">Crear</button>
					</div>
				</form>
			</div>
		<!--/div-->
	<!--/section-->
	<!--================End Login Box Area =================-->

	{% endblock %}