
{% extends 'base.html' %}

{% load static %}

{% block nombre_seccion %}Categorias{% endblock %}

{% block jquery %}
	<script src="{% static 'js/refresher.js' %}"></script>
{% endblock %}

{% block contenido %}

</style>
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Categorias</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    {% for category in categories %}
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="filter{{ category.pk }}" onclick="refresh({{ category.pk }});" name="brand"><label for="men">{{category.title}}</label></li>
                    {% endfor %}
                    </ul>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row" id="articles">
              {% for article in articles|slice:":9" %}
                <div class="wrapper">                    
                  <a href="{{ article.link }}">
                    <img src="{{ article.image }}">
                    <div class="content">
                      <p>{{ article.category.title }}</p>
                      <h3>{{ article.title }}</h3>
                      <p class="p1">{{ article.user }}</p>
                    </div>
                  </a>
                </div>
              {% empty %}
                <p>No hay artículos aún</p>
              {% endfor %}
            </div>            
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>

{% endblock contenido %}