{% load static %}
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nev class="box">
      <form action="." method= "POST">
        {% csrf_token %}
        <h1>CREAR CUENTA NUEVA</h1>
        
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert"> 
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
  
        {{form.as_p}}
  
        <input type="submit" name="" value="Crear Cuenta">
      </form>
      <form method= "GET">
        <a style="color: #3498db;" href="{% url 'homepage' %}">Cancelar</a>
      </form>
    </nev>
    
  </body>
</html>