{% extends 'base.html' %}

{% block nombre_seccion %}Home{% endblock %}

{% block contenido %}

  <!-- ================ trending product section start ================= -->  
  <section class="section-margin calc-60px">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Populares</p>
        <h2><span class="section-intro__style">Artículos</span> tendencia</h2>
      </div>
      <div class="row">
        {% for article in articles %}
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{{article.image}}" alt="{{article.link}}">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-search"></i></button></li>
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                  <li><button><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{ article.user }}</p>
                <h4 class="card-product__title"><a href="{{article.link}}">{{ article.title }}</a></h4>
                <!--p class="card-product__price">$150.00</p-->
              </div>
            </div>
          </div>
        {% empty %}
          <p>No hay artículos en el sitio.</p>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ================ trending product section end ================= -->  

  {% endblock %}