{% extends 'base.html' %}

{% block nombre_seccion %}Home{% endblock %}

{% block contenido %}

  <!-- ================ trending product section start ================= -->  
  <section class="section-margin calc-60px">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Populares</p>
        <h2><span class="section-intro__style">Artículos</span> tendencia</h2>
      </div>
      <div class="row">
        {% for article in articles %}
          <div class="wrapper">                    
            <a href="{{ article.link }}">
              <img src="{{ article.image }}">
              <div class="content">
                <p>{{ article.category.title }}</p>
                  <h3>{{ article.title }}</h3>
                  <p class="p1">{{ article.user }}</p>
              </div>
            </a>                  
          </div> 
        {% empty %}
          <p>No hay artículos aún</p>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ================ trending product section end ================= -->  

  {% endblock %}