

{% extends 'base.html' %}

{% load static %}

{% block nombre_seccion %}Login{% endblock %}

{% block jquery %}
	<script src="{% static 'js/selections.js' %}"></script>
{% endblock %}

{% block contenido %}

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="section-intro pb-60px">
				<h2><span class="section-intro__style">Iniciar</span> Canje</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<p>Artículos de {{user}}</p>
					<div class="card" style="width: 18rem;">
						<div class="list-group">
							{% for article in articles %}
								<a class="list-group-item list-group-item-action" id="{{article.id}}" value="false" onclick="select_item(this.id, this.value)">{{article.title}}</a>
							{% endfor %}
						</div>
					</div>					
				</div>
				<div class="col-lg-6">
					<p>Tus artículos</p>
					<div class="card" style="width: 18rem;">
						<div class="list-group">
							{% for article in own_articles %}
							<a class="list-group-item list-group-item-action" id="{{article.id}}" value="false" onclick="select_item(this.id, this.value)">{{article.title}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-6 text-right">
					<a class="button primary-btn" href="#">Canjear</a>
				</div>
			</div>			
		</div>
	</section>
	<!--================End Login Box Area =================-->

	{% endblock %}