{% load static %}
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="box">
      <form action="." method= "POST">
        <h1>INICIAR SESION</h1>
        {% csrf_token %}
        
        {{form.as_p}}
  
        <input type="submit" name="" value="Entrar">
      </form>
      <form method= "GET">
        <a style="color: #3498db;" href="{% url 'recuperarcontraseña' %}">Olvidaste la contraseña?</a>
      </form>
      <form action="{% url 'register' %}" method= "GET">
        <input type="submit" name="" value="Crear Cuenta">
      </form>
      <form method= "GET">
        <a style="color: #3498db;" href="{% url 'homepage' %}">Cancelar</a>
      </form>
    </nav>
  </body>
</html>