{% extends 'base.html' %}

{% block nombre_seccion %}Mis canjes{% endblock %}

{% block contenido %}
<style>
  .container2{
    width: 80%;
    margin: 50px auto;
    border: solid 1px #000;
    margin: 0;
    padding: 5px;
  }
  .uno{
    color: darkgoldenrod;
  }
  .dos{
    color: green;
  }
  .tres{
    color: maroon;
  }
</style>

<section class="section-margin calc-60px">
  <div class="container">
    <div class="section-intro pb-60px">
      <h2><span class="section-intro__style">Mis</span> Canjes (Historial)</h2>
    </div>
    {% for canje in canjes %}
      <div class="container2">
        <h3>Usuario: {{ canje.title2 }}</h3>
        <h4>Canje Nro: {{ canje.title4 }}</h4>
        {% if canje.title1 == 0 %}
          <h4 class="uno">Estado: Pendiente</h4>
        {% endif %}
        {% if canje.title1 == 1 %}
          <h4 class="dos">Estado: Aceptado</h4>
        {% endif %}
        {% if canje.title1 == 2 %}
          <h4 class="tres">Estado: Rechazado</h4>
        {% endif %}
        <p>{{ canje.title3 }}</p>
      </div>
    {% empty %}
      <p>No tienes canjes</p>
    {% endfor %}  
  </div>
</section>

{% endblock %}