{% extends 'base.html' %}

{% block nombre_seccion %}Mis articulos{% endblock %}

{% block contenido %}

	<!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
        <div class="container">
          <div class="section-intro pb-60px">
            <h2><span class="section-intro__style">Mis</span> Artículos</h2>
          </div>
          <div class="section-intro pb-60px">
            <a class="button" href="{% url 'cargar_articulo' %}"><p>Cargar nuevo</p></a>
          </div>
          <div class="row">
            {% for article in articles %}
              <div class="wrapper">                    
                <a href="{{ article.link }}">
                  <img src="{{ article.image }}">
                  <div class="content">
                    <p>{{ article.category.title }}</p>
                    <h3>{{ article.title }}</h3>
                  </div>
                </a>                  
              </div> 
            {% empty %}
              <p>No hay artículos aún</p>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- ================ trending product section end ================= -->  

{% endblock %}