{% extends 'base.html' %}

{% block nombre_seccion %}Mis canjes{% endblock %}

{% block contenido %}

<form class="navbar-form navbar-center" role="search">   
    <h1>Mis Canjes</h1>
</form>

<section class="section-margin calc-60px">
    <div class="container">
      <div class="row">
        {% for canje in canjes %}
            <h2>{{ canje.title1 }}</h2>
            <p>{{ canje.title2 }}</p>
            <p>{{ canje.title3 }}</p>
        {% empty %}
          <p>No tienes canjes</p>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}