{% extends 'base.html' %}

{% block nombre_seccion %}Mis articulos{% endblock %}

{% block contenido %}
<style>
    .bot{
      border: 0;
      background: none;
      color:white;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid rgb(52, 147, 224);
      padding: 14px 40px;
      width: 300px;
      outline: none;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    .bot:hover{
        background:rgb(52, 147, 224);
    }
</style>
<form action="insertar.php" class="form-AddCanje" method="POST" enctype="multipart/form-data" >  
    <a style = "color:black;" href="{% url 'cargar_articulo' %}" class="bot">       
        <h4>Agregar Articulos</h4>
    </a>
</form>
<h1>Mis Articulos</h1>
<ul>
    {% for article in articles %}
        <li>
            <h3>{{ article.title }}</h3>
            <p>{{ article.date_created }}</p>
            <a href= "{{article.link}}">Detalles</a>
        </li>
    {% empty %}
        <li>No tienes artículos todavía.</li>
    {% endfor %}
</ul>

{% endblock %}