{% extends 'base.html' %}

{% block nombre_seccion %}Mis articulos{% endblock %}

{% block contenido %}

	<!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
        <div class="container">
          <div class="section-intro pb-60px">
            <h2><span class="section-intro__style">Mis</span> Artículos</h2>
          </div>
          <div class="section-intro pb-60px">
            <a class="button" href="{% url 'cargar_articulo' %}"><p>Cargar nuevo</p></a>
          </div>
          <div class="row">
            {% for article in articles %}
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{{article.image}}" alt="{{article.link}}">
                    <ul class="card-product__imgOverlay">
                      <li><button href="{{article.link}}"><i class="ti-search"></i></button></li>
                      <li><button href="{{edit_article.link}}"><i class="ti-pencil"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <h4 class="card-product__title"><a href="{{article.link}}">{{ article.title }}</a></h4>
                    <!--p class="card-product__price">$150.00</p-->
                  </div>
                </div>
              </div>
            {% empty %}
              <p>No hay artículos en el sitio.</p>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- ================ trending product section end ================= -->  

{% endblock %}