{% extends 'base.html' %}

{% block nombre_seccion %}Notifications{% endblock %}

{% block contenido %}

<!-- Recorrer lista de notificaciones, y mostrarlas todas junto con un boton de aceptar o rechazar -->

<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <h2><span class="section-intro__style">Mis</span> Notificaciones</h2>
        </div>
        {% for notification in notifications %}
            <p>{{ notification.notif_id }}</p>
            <h3>{{ notification.notif }}</h3>
            <button href="{{ notification.link }}">Ver más</button>
        {% empty %}
          <p>No tienes notificaciones</p>
        {% endfor %}
    </div>
</section>

{% endblock %}