{% load static %}
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="box">
      <form action="." method= "POST">
        <h1>RECUPERAR CONTRASEÑA</h1>
        {% csrf_token %}
        
        {{form.as_p}}
  
        <input type="submit" name="" value="Confirmar">
      </form>

      <form method= "GET">
        <a style="color: #3498db;" href="{% url 'login' %}">Volver</a>
      </form>
    </nav>
  </body>
</html>